{% block collection_widget %}
{% spaceless %}
    <div class="f-collection">
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            {% for rows in form %}
                {% for row in rows %}
                    <div class="f-row">
                        <div class="f-fields">
                            {{ form_label(row) }}
                            {{ form_widget(row) }}
                        </div>
                        <button
                            type="button"
                            class="icon icon-minus bt-remove-item"
                            title="{% trans %}Remove row{% endtrans %}"
                        >{% trans %}Remove row{% endtrans %}</button>
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_rest(form) }}
            <div class="f-row f-coll-button">
                <div class="f-fields"></div>
                <button
                    type="button"
                    class="icon icon-plus bt-add-item"
                    title="{% trans %}Add row{% endtrans %}"
                >{% trans %}Add row{% endtrans %}</button>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock collection_widget %}
 
{% block collection_item_widget %}
{% spaceless %}
    {% for row in prototype %}
        <div class="f-row">
            <div class="f-fields">
                {{ form_label(row) }}
                {{ form_widget(row) }}
            </div>
            <button
                type="button"
                class="icon icon-minus bt-remove-item"
                title="{% trans %}Remove row{% endtrans %}"
            >{% trans %}Remove row{% endtrans %}</button>
        </div>
    {% endfor %}
{% endspaceless %}
{% endblock collection_item_widget %}


{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} class="f-group">
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
{% spaceless %}
    <div class="f-row">
        {{ form_errors(form) }}
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="ui-state-error ui-corner-all">
                <span class="ui-icon ui-icon-alert"></span>
                {{ error.messageTemplate|trans(error.messageParameters, 'validators')|trans }}
            </div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock %}

{# use html5 data #}
{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {% set type = 'date' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {% set type = 'date' %}
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}


{% block image_widget %}
    {% spaceless %}
    <div
        class="f-image"
        data-popup="{% if value is empty %}{{ path('form_image') }}{% else %}{{ path('form_image', {'change': 1}) }}{% endif %}"
    >
        {% set type = 'hidden' %}
        {{ block('form_widget') }}
        <button type="button" class="change-button" title="{% trans %}Change image{% endtrans %}">{% trans %}Change image{% endtrans %}</button>
        <img src="{% if value is not empty %}/media/{{ value }}{% endif %}" />
    </div>
    {% endspaceless %}
{% endblock %}


{% block local_path_widget %}
    {% spaceless %}
    <div
        class="f-local-path"
        data-popup="{{ path('form_local_path', {'path': value}) }}"
    >
        {{ block('form_widget') }}
        <button type="button" class="change-path" title="{% trans %}Change{% endtrans %}">{% trans %}Change{% endtrans %}</button>
    </div>
    {% endspaceless %}
{% endblock %}