{% extends 'AnimeDbAppBundle::popup.html.twig' %}

{% set popup_id = 'f-path-popup' %}

{% set content %}
<form action="{{ path('form_local_path_folders') }}" method="post" {{ form_enctype(form) }}>
	<div class="f-row">
		{{ form_widget(form.path) }}
		<button type="submit" title="{{ 'Change path'|trans }}" class="change-path">{% trans %}Change path{% endtrans %}</button>
	</div>
	<nav class="folders" data-prototype="{{ block('folder')|e }}"></nav>
</form>
{% endset %}

{% block folder %}
<a href="__link__" class="folder">__name__</a>
{% endblock %}