{% extends 'AnimeDBCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Autofill record{% endtrans %}{% endblock %}

{% block stylesheets %}
	{% if form %}
		<link href="{{ asset('uploadify/uploadify.css') }}" rel="stylesheet" />
		{{ form_stylesheet(form) }}
	{% endif %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% if form %}
		<script src="{{ asset('uploadify/jquery.uploadify.min.js') }}"></script>
		{{ form_javascript(form) }}
	{% endif %}
{% endblock %}

{% if form %}
	{% form_theme form 'AnimeDBCatalogBundle:Form:fields.html.twig' %}
{% endif %}

{% block content %}
<div class="b-addition-form">
	<h2>{% trans %}Autofill record{% endtrans %}</h2>
	<div>
		{% if error %}
			<strong>{{ error|trans }}</strong>
		{% else %}
			<form action="{{ path('item_add_manually') }}" method="post" {{ form_enctype(form) }}>
				{{ form_widget(form) }}
				<button type="submit">{% trans %}Add{% endtrans %}</button>
			</form>
		{% endif %}
	</div>
</div>
{% endblock %}