{% if items is defined and items %}
<div class="list-items">
	{% if show_limit is defined and show_limit %}
		<div class="controls">
			<ul class="show-limit">
				<li>{% trans %}Items on page{% endtrans %}:</li>
				{% for button in show_limit %}
					<li><a href="{{ button.link }}" title="{{ 'Show one item on page|Show %count% items on page|{-1} Show all items on page'|transchoice(button.count) }}">{{ button.name|trans }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if items|length > 16 %}
		{% include 'AnimeDBCatalogBundle::pagination.html.twig' %}
	{% endif %}
	{% for item in items %}
		<div class="item">
			<img src="{{ item.cover|apply_filter('catalog')|dummy('catalog') }}" alt="{{ item.name }}" />
			<a href="{{ path('item_show', {'id': item.id, 'name': item.name}) }}" class="name"><strong>{{ item.name }}</strong></a>
			<div class="type">
				<a href="{{ path('home_search', {'search_items[type]': item.type.id}) }}" title="{% trans %}Type{% endtrans %}">{{ item.type.name }}</a>
			</div>
			<ul class="genres">
				{% for genre in item.genres %}
					<li class="genre-item">
						<a href="{{ path('home_search', {'search_items[genres][]': genre.id}) }}" title="{% trans %}Genre{% endtrans %}">{{ genre.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>
{% endif %}
{% include 'AnimeDBCatalogBundle::pagination.html.twig' %}