{% if items is defined and items %}
<div class="list-items">
	{% if (sort_by|default is not empty and sort_direction|default is not empty) or (show_limit|default is not empty) %}
		<div class="controls">
			{% if sort_by|default is not empty and sort_direction|default is not empty %}
				<ul class="sort-by">
					<li><strong>{% trans %}Sorting{% endtrans %}:</strong></li>
					{% for button in sort_by %}
						{% set title = button.title|trans %}
						{% if button.current %}
							<li><span title="{{ 'Search by \'%field%\''|trans({'%field%': title}) }}">{{ button.name|trans }}</span></li>
						{% else %}
							<li><a href="{{ button.link }}" title="{{ 'Search by \'%field%\''|trans({'%field%': title}) }}">{{ button.name|trans }}</a></li>
						{% endif %}
					{% endfor %}
					{% if sort_direction.type == 'DESC' %}
						<li><a href="{{ sort_direction.link }}" title="{{ 'Sort descending'|trans }}">↓</a></li>
					{% else %}
						<li><a href="{{ sort_direction.link }}" title="{{ 'Sort ascending'|trans }}">↑</a></li>
					{% endif %}
				</ul>
			{% endif %}
			{% if show_limit|default is not empty %}
				<ul class="show-limit">
					<li><strong>{% trans %}On page{% endtrans %}:</strong></li>
					{% for button in show_limit %}
						{% if button.current %}
							<li><span title="{{ 'Show one item on page|Show %count% items on page|{-1} Show all items on page'|transchoice(button.count) }}">{{ button.name|trans }}</span></li>
						{% else %}
							<li><a href="{{ button.link }}" title="{{ 'Show one item on page|Show %count% items on page|{-1} Show all items on page'|transchoice(button.count) }}">{{ button.name|trans }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endif %}
	{% if items|length > 16 %}
		{% include 'AnimeDbAppBundle::pagination.html.twig' %}
	{% endif %}
	{% for item in items %}
		<div class="item">
			<img src="{{ item.coverWebPath|dummy('catalog')|apply_filter('catalog') }}" alt="{{ item.name }}" />
			<a href="{{ path('item_show', {'id': item.id, 'name': item.name}) }}" class="name"><strong>{{ item.name }}</strong></a>
			<div class="type">
				<a href="{{ path('home_search', {'anime_db_catalog_search_items[type]': item.type.id}) }}" title="{% trans %}Type{% endtrans %}">{{ item.type.name }}</a>
			</div>
			<ul class="genres">
				{% for genre in item.genres %}
					<li class="genre-item">
						<a href="{{ path('home_search', {'anime_db_catalog_search_items[genres][]': genre.id}) }}" title="{% trans %}Genre{% endtrans %}">{{ genre.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>
{% endif %}
{% include 'AnimeDbAppBundle::pagination.html.twig' %}
