{% extends 'AnimeDBCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Search{% endtrans %}{% endblock %}


{% block content %}
<div class="b-filler-search">
<h2>{% trans %}List of results{% endtrans %}</h2>
{% if list %}
	<span>{% trans %}Select the entry you want to add{% endtrans %}</span>
	<ul>
		{% for item in list %}
			<li>
				<a href="{{ path('filler_fill') }}?filler_get[url]={{ item.source|url_encode }}" class="image">
					<img src="{{ item.image|dummy('card') }}" alt="{{ item.name }}" />
				</a>
				<div class="info">
					<a href="{{ path('filler_fill') }}?filler_get[url]={{ item.source|url_encode }}">{{ item.name }}</a>
					<div>{{ item.description|nl2br }}</div>
				</div>
				<br clear="both">
			</li>
		{% endfor %}
	</ul>
{% else %}
	<strong>{% trans %}Nothing was found{% endtrans %}</strong>
{% endif%}
</div>
{% endblock %}