{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('/bundles/animedbcatalog/css/jquery-ui/jquery-ui-1.10.3.custom.min.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('/bundles/animedbcatalog/css/main.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('/bundles/animedbcatalog/js/jquery-1.10.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('/bundles/animedbcatalog/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
{% endblock %}

{% block headers %}
	{% render controller('AnimeDbAppBundle:Assets:show') %}
	<script type="text/javascript" src="{{ asset('/bundles/animedbcatalog/js/main.js') }}"></script>
{% endblock %}

{% block body %}
<div id="wrapper">
	<div id="navigation">
		<nav>
			<div class="left"></div>
			{{ knp_menu_render('AnimeDbCatalogBundle:Builder:mainMenu') }}
			<div class="right"></div>
		</nav>
	</div>
	<div id="header">
		<h1 class="logo">
			<a href="{{ path('home') }}" title="Home Anime DB"><span>Home Anime DB</span></a>
		</h1>
	</div>
	<div id="content-wrapper">
		{% block notice %}<div id="notice-container" data-from="{{ path('notice_show') }}"></div>{% endblock %}
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer">
		<div class="license">{% trans with {'%license%': '<a href="http://opensource.org/licenses/GPL-3.0">GPLv3</a>'}%}The product is licensed under the %license%.{% endtrans %}</div>
		<div class="copy">&copy; 2011-{{ "now"|date("Y") }} <a href="http://anime-db.org/">Anime DB</a></div>
	</div>
	<div id="line"></div>
	<div id="bg-buttom"></div>
	<div id="bg-left"></div>
	<div id="bg-right"></div>
</div>

<script type="text/javascript">
var translations = {
	'Are you sure want to delete this item(s)?': '{% trans %}Are you sure want to delete this item(s)?{% endtrans %}',
	'Failed to get the data. Want to try again?': '{% trans %}Failed to get the data. Want to try again?{% endtrans %}'
};
</script>
<div id="cap">
	<div id="cap-content"></div>
	<div id="popup-container">
		<div id="cap-breaker"></div>
		<div id="popup-wrapper">
			{% set popup_id = 'b-lazyload-popup' %}
			{% include 'AnimeDbAppBundle::popup.html.twig' %}
		</div>
	</div>
</div>
{% endblock %}