{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Change storage{% endtrans %}{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/animedbcatalog/js/jquery.form.min.js') }}"></script>
{% endblock %}

{% form_theme form 'AnimeDbAppBundle:Form:fields.html.twig' %}

{% block content %}
<div class="b-addition-form">
	<h2>{% trans %}Change storage{% endtrans %}</h2>
	<form action="{{ path('storage_change', {'id': storage.id}) }}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<button type="submit">{% trans %}Change{% endtrans %}</button>
	</form>
</div>
{% endblock %}