{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}File storages{% endtrans %}{% endblock %}

{% block content %}
<div class="storages-list">
	<h3>{% trans %}Add storage{% endtrans %}</h3>
	<p>{% trans with {'%link%': path('storage_add')}%}Jump to the <a href="%link%">form</a> of adding storage.{% endtrans %}</p>
	{% if storages is not empty %}
		<h3>{% trans %}List of storages{% endtrans %}</h3>
		<table class="list">
			<tr>
				<th>{% trans %}Name{% endtrans %}</th>
				<th>{% trans %}Description{% endtrans %}</th>
				<th>{% trans %}Type{% endtrans %}</th>
				<th>{% trans %}Path{% endtrans %}</th>
				<th class="control"></th>
			</tr>
			{% for storage in storages %}
				<tr>
					<td>
						<a
							href="{{ path('storage_change', {'id': storage.id}) }}"
							title="{% trans %}Change storage{% endtrans %}"
							class="icon-label icon-storage"
						>{{ storage.name }}</a>
						{% if storage.items.count != 0 %}
							(<a
								href="{{ path('home_search', {'anime_db_catalog_search_items[storage]': storage.id}) }}"
								title="{{ '{1} Is one item in storage|]1,Inf] %count% items in storage' | transchoice(storage.items.count) }}"
							>{{ storage.items.count }}</a>)
						{% endif %}
					</td>
					<td>{{ storage.description }}</td>
					<td>{{ storage.typetitle|trans }}</td>
					<td>{{ storage.path }}</td>
					<td class="control">
						<a
							href="{{ path('storage_change', {'id': storage.id}) }}"
							class="icon icon-storage-edit"
							title="{% trans %}Change storage{% endtrans %}"
						>{% trans %}Change storage{% endtrans %}</a>
						{% if storage.items.count == 0 %}
							<a
								href="{{ path('storage_delete', {'id': storage.id}) }}"
								class="icon icon-storage-delete"
								title="{% trans %}Delete storage{% endtrans %}"
								data-message="{% trans with {'%name%': storage.name} %}Are you sure want to delete %name%?{% endtrans %}"
							>{% trans %}Delete storage{% endtrans %}</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
</div>
{% endblock %}