{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('/bundles/animedbcatalog/css/jquery.fancybox.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/animedbcatalog/js/jquery.fancybox.pack.js') }}"></script>
{% endblock %}

{% block content %}
<section class="item-show-left">
	<h2>{{ item.name }}</h2>
	<img src="{{ item.coverWebPath|dummy('card')|apply_filter('card') }}" alt="{{ item.name }}" class="cover" />
	<section class="item-summary">{{ item.summary }}</section>
	{{ widgets(widget_in_content, {item: item}) }}
	{% if item.episodes %}
		<section class="item-episodes">
			<header>{% trans %}Episodes{% endtrans %}</header>
			<article>{{ item.episodes|nl2br }}</article>
		</section>
	{% endif %}
	{% if item.images is not empty %}
		<section class="item-images">
			<header>{% trans %}Image{% endtrans %}</header>
			<article>
				{% for image in item.images %}
					<a
						href="{{ image.sourceWebPath }}"
						data-control="gallery"
						rel="frame"
						title="{{ item.name }}"
					><img
						src="{{ image.sourceWebPath|dummy('frame')|apply_filter('frame') }}"
						alt="{{ item.name }}"
					/></a>
				{% endfor %}
			</article>
		</section>
	{% endif %}
	{{ widgets(widget_bottom, {item: item}) }}
</section>
<section class="item-show-right">
	<section class="item-controls">
		<header>{% trans %}Record{% endtrans %}</header>
		<article>
			<nav>
				{% set itemMenu = knp_menu_get('AnimeDbCatalogBundle:Builder:itemMenu', [], {'item': item}) %}
				{{ knp_menu_render(itemMenu) }}
			</nav>
		</article>
	</section>
	<section class="item-info">
		<header>{% trans %}Information{% endtrans %}</header>
		<article>
			<div>
				<strong>{% trans %}Type{% endtrans %}</strong> <a href="{{ path('home_search', {'anime_db_catalog_search_items[type]': item.type.id}) }}">{{ item.type.name }}</a>
			</div>
			<div>
				<strong>{% trans %}Number of episodes{% endtrans %}</strong> {{ item.episodesnumber }} {% trans %}ep.{% endtrans %} 
			</div>
			<div>
				<strong>{% trans %}The duration of the episode{% endtrans %}</strong> {{ item.duration }} мин.
			</div>
			<div>
				<strong>{% trans %}Status{% endtrans %}</strong>
				{% if item.dateend %} {% trans %}came out in{% endtrans %} {% else %} {% trans %}goes from{% endtrans %} {% endif %}
				<a href="{{ path('home_search', {'anime_db_catalog_search_items[date_start]': item.datestart|date('Y-01-01')}) }}">{{ item.datestart|date('Y') }}</a>{% if item.dateend and (item.datestart|date('Y') != item.dateend|date('Y')) %}-<a href="{{ path('home_search', {'search_items[date_end]': item.dateend|date('Y-01-01')}) }}">{{ item.dateend|date('Y') }}</a>{% endif %}
				{% trans %}y.{% endtrans %}
				{# start date of issue  #}
				{% set startdey = item.datestart|date('d') %}
				{% set startmonth = item.datestart|date('F') ~ '|' ~ item.datestart|date('F') %}
				{# end date of issue  #}
				{% if item.dateend %}
					{% set enddey = item.dateend|date('d') %}
					{% set endmonth = item.dateend|date('F') ~ '|' ~ item.dateend|date('F') %}
					{% set dateend = ' ' ~ 'to'|trans ~ ' ' ~ enddey ~ ' ' ~ endmonth|transchoice(enddey, {}, 'datechoice')|lower ~ ' ' ~ item.dateend|date('Y') ~ ' ' ~ 'y.'|trans %}
				{% else %}
					{% set dateend = '' %}
				{% endif %}
				(<abbr title="{% trans %}From{% endtrans %} {{ startdey }} {{ startmonth|transchoice(startdey, {}, 'datechoice')|lower }} {{ item.datestart|date('Y') }} {% trans %}y.{% endtrans %}{{ dateend }}">?</abbr>)
			</div>
			<div>
				<strong>{% trans %}Production{% endtrans %}</strong> <a href="{{ path('home_search', {'anime_db_catalog_search_items[manufacturer]': item.manufacturer.id}) }}">{{ item.manufacturer.name }}</a>
			</div>
			<div>
				<strong>{% trans %}Storage{% endtrans %}</strong> <a href="{{ path('home_search', {'anime_db_catalog_search_items[storage]': item.storage.id}) }}">{{ item.storage.name }}</a>
			</div>
			{% if item.names is not empty %}
				<div>
					<strong>{% trans %}Alternative names{% endtrans %}</strong>
					<ul>
						{% for name in item.names %}
							<li>{{ name.name }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div>
				<strong>{% trans %}Date added{% endtrans %}</strong> {{ item.dateadd|date('d.m.Y') }}
			</div>
			<div>
				<strong>{% trans %}Last updated{% endtrans %}</strong> {{ item.dateupdate|date('d.m.Y') }}
			</div>
		</article>
	</section>
	{% if item.genres is not empty %}
		<section class="item-genres">
			<header>{% trans %}Genres{% endtrans %}</header>
			<article>
					{% for genre in item.genres %}
						<a href="{{ path('home_search', {'anime_db_catalog_search_items[genres][]': genre.id}) }}">{{ genre.name }}</a>{% if not loop.last %}, {% endif %}
					{% endfor %}
			</article>
		</section>
	{% endif %}
	{% if item.sources is not empty %}
		<section class="item-sources">
			<header>{% trans %}Sources{% endtrans %}</header>
			<article>
				<ul>
					{% for source in item.sources %}
						<li><a href="{{ source.url }}" target="_blank"><img src="{{ source.url|favicon }}" class="favicon" alt="" /></a></li>
					{% endfor %}
				</ul>
			</article>
		</section>
	{% endif %}
	{% if item.translate %}
		<section class="item-translate">
			<header>{% trans %}Translate{% endtrans %}</header>
			<article>{{ item.translate|nl2br }}</article>
		</section>
	{% endif %}
	<section class="item-file-path">
		<header>{% trans %}The path to the files{% endtrans %}</header>
		<article>{{ item.path }}</article>
	</section>
	{% if item.fileinfo %}
		<section class="item-file-info">
			<header>{% trans %}File info{% endtrans %}</header>
			<article>{{ item.fileinfo|nl2br }}</article>
		</section>
	{% endif %}
	{{ widgets(widget_right, {item: item}) }}
</section>
{% endblock %}