{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Installed plugins{% endtrans %}{% endblock %}

{% block content %}
<div class="b-list-plugins">
	<h2>{% trans %}Installed plugins{% endtrans %}</h2>
	<section>
		{% for plugin in plugins %}
			<article>
				<img
					src="{{ plugin.logoWebPath|apply_filter('plugin')|dummy('plugin') }}"
					alt="{{ plugin.tilte }}"
					class="logo"
				/>
				<div class="info">
					<h3>{{ plugin.tilte }}</h3>
					<p>{{ plugin.description }}</p>
				</div>
				<div class="control">
					<a
						href="{{ path('update', {delete: plugin.name}) }}"
						title="{% trans with {'%name%': plugin.tilte} %}Delete plugin %name%{% endtrans %}"
						class="icon-label icon-plugin-delete"
					>{% trans %}Delete{% endtrans %}</a>
				</div>
			</article>
		{% endfor %}
	</section>
</div>
{% endblock %}