{% extends 'AnimeDBCatalogBundle::layout.html.twig' %}

{% set body_class = 'home' %}

{% block content %}
<div class="home-center-header">
	<p class="intro-message">{% trans with {'%AnimeDB%': '<strong>AnimeDB</strong>'}%}%AnimeDB% is a system for making the home catalog of the anime. The system is designed for home use only.{% endtrans %}</p>
	<div class="home-search">
		{% render controller('AnimeDBCatalogBundle:Home:searchSimpleForm') %}
	</div>
</div>
<div class="home-center">
{% for item in items %}
	<div class="home-item">
		<img src="{{ item.cover|apply_filter('home_cover') }}" alt="{{ item.name }}" />
		<div class="name"><strong>{{ item.name }}</strong></div>
		<div class="type">
			<a href="{{ path('home_selection', {'selection[type]': item.type.id}) }}" title="{% trans %}Type{% endtrans %}">{{ item.type.name }}</a>
		</div>
		<ul class="genres">
			{% for genre in item.genres %}
				<li class="genre-item">
					<a href="{{ path('home_selection', {'selection[genres][]': genre.id}) }}" title="{% trans %}Genre{% endtrans %}">{{ genre.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endfor %}
</div>
{% endblock %}