
{% block form_widget_compound %}
{% spaceless %}
    <div
        {{ block('widget_container_attributes') }}
        class="f-group"
        data-add="{% trans %}Add{% endtrans %}"
        data-remove="{% trans %}Remove{% endtrans %}"
    >
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
{% spaceless %}
    <div class="f-row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {% set type = 'date' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {% set type = 'date' %}
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}


{% block image_widget %}
    {% spaceless %}
    <div
        class="f-image"
        data-popup="{% if value is empty %}{{ path('form_image') }}{% else %}{{ path('form_image', {'chenge': 1}) }}{% endif %}"
    >
        {% set type = 'hidden' %}
        {{ block('form_widget') }}
        <img src="{% if value is not empty %}/media/{{ value }}{% endif %}" class="chenge-button" />
    </div>
    {% endspaceless %}
{% endblock %}


{% block local_path_widget %}
    {% spaceless %}
    <div class="f-path">
        {{ block('form_widget') }}
        <!-- <button type="button" class="change-path">{% trans %}Change{% endtrans %}</button> -->
    </div>
    {% endspaceless %}
{% endblock %}