
{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} class="f-group">
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
{% spaceless %}
    <div class="f-row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


{% block genemu_jqueryimage_widget %}
{% spaceless %}
    <div id="{{ id }}_container" class="f-genemu-image">
        <div class="left">
            <div id="{{ id }}_preview">
                {% set type = "hidden" %}
                {{ block("hidden_widget") }}

                {% if value %}
                    {% set widthMax = thumbnail is defined ? thumbnail.width : 500 %}
                    {% set ratio = width > widthMax ? width / widthMax : 1 %}
                    {% set asset = asset(thumbnail is defined ? thumbnail.file : value) %}
                    {% set width = width / ratio %}
                    {% set height = height / ratio %}
                {% else %}
                    {% set asset = asset("bundles/genemuform/images/default.png") %}
                    {% set width = 96 %}
                    {% set height = 96 %}
                {% endif %}

                <img id="{{ id }}_img_preview" src="{{ asset }}" width="{{ width }}" height="{{ height }}" />
            </div>
            <ul id="{{ id }}_options" class="options">
                {% for filter in filters %}
                    <li class="{{ filter }} change"></li>
                {% endfor %}
            </ul>
            <div id="{{ id }}_upload"></div>
            <div class="queue">
                <div id="{{ id }}_queue"></div>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock genemu_jqueryimage_widget %}


{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {% set type = 'date' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {% set type = 'date' %}
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}