{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}List of notice{% endtrans %}{% endblock %}

{% block content %}
<section class="b-notice-list">
	<h2>{% trans %}List of notice{% endtrans %}</h2>
	{% if list is empty %}
		{% trans %}No notices{% endtrans %}
	{% else %}
		<form action="" method="post">
		<table>
			<thead>
				<tr>
					<th><input type="checkbox" name="check-all" class="f-table-check-all" data-target="f-notice-id" value="1" /></th>
					<th>{% trans %}Message{% endtrans %}</th>
					<th>{% trans %}Date created{% endtrans %}</th>
					<th>{% trans %}Date closed{% endtrans %}</th>
					<th>{% trans %}Status{% endtrans %}</th>
				</tr>
			</thead>
			{% for notice in list %}
				<tr>
					<th><input type="checkbox" name="id[]" value="{{ notice.id }}" class="f-notice-id" /></th>
					<td class="t-message">
						<a href="{{ path('notice_get', {id: notice.id}) }}" title="{% trans %}Show full info of notice{% endtrans %}">
							{{ notice.message|striptags }}
						</a>
					</td>
					<td>{{ notice.datecreated|date('Y.m.d H:i') }}</td>
					<td>
						{% if notice.dateclosed is not empty %}
							{{ notice.dateclosed|date('Y.m.d H:i') }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% if notice.status == 0 %}
							{% trans %}Created{% endtrans %}
						{% elseif notice.status == 1 %}
							{% trans %}Shown{% endtrans %}
						{% else %}
							{% trans %}Closed{% endtrans %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
		<br />
		<button type="submit" data-message="{% trans %}Are you sure want to delete item(s)?{% endtrans %}">{% trans %}Remove{% endtrans %}</button>
		</form>
		{% include 'AnimeDbAppBundle::pagination.html.twig' %}
	{% endif %}
</section>
{% endblock %}