{% extends 'AnimeDBCatalogBundle::layout.html.twig' %}

{% block title %}{% trans %}Add manually{% endtrans %} - {{ parent() }}{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('uploadify/uploadify.css') }}" rel="stylesheet" />
	{{ form_stylesheet(form) }}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('uploadify/jquery.uploadify.min.js') }}"></script>
	{{ form_javascript(form) }}
{% endblock %}

{% form_theme form 'AnimeDBCatalogBundle:Form:fields.html.twig' %}

{% block content %}
<div class="b-addition-form">
	<h2>Добавление записи</h2>
	<form action="{{ path('filler_fill') }}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<button type="submit">{% trans %}Add{% endtrans %}</button>
	</form>
</div>
{% endblock %}