{% extends 'AnimeDBCatalogBundle::layout.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<section class="item-show-left">
	<h2>{{ item.name }}</h2>
	<img src="{{ asset('/media/' ~ item.cover) }}" alt="{{ item.name }}" class="cover" />
	<section class="item-summary">{{ item.summary }}</section>
	{% if item.translate %}
		<section class="item-translate">
			<header>Переводы</header>
			<article>{{ item.translate|nl2br }}</article>
		</section>
	{% endif %}
	<section class="item-file-info">
		<header>Путь к файлам</header>
		<article>{{ item.path }}</article>
	</section>
	{% if item.fileinfo %}
		<section class="item-file-info">
			<header>Информация о файлах</header>
			<article>{{ item.fileinfo|nl2br }}</article>
		</section>
	{% endif %}
	{% if item.episodes %}
		<section class="item-episodes">
			<header>Эпизоды</header>
			<article>{{ item.episodes|nl2br }}</article>
		</section>
	{% endif %}
	{% if item.images is not empty %}
		<section class="item-images">
			<header>Кадры</header>
			<ul>
				{% for image in item.images %}
					<li><img src="{{ image.source }}" alt="" /></li>
				{% endfor %}
			</ul>
		</section>
	{% endif %}
</section>
<section class="item-show-right">
	<section class="item-controls">
		<header>Запись</header>
		<article>
			<nav>
				<a href="#fill {{ item.id }}" class="fill">{% trans %}Autofill record{% endtrans %}</a>
				<a href="{{ path('item_complement', {'id': item.id, 'name': item.name}) }}" class="complement">{% trans %}Complement directory{% endtrans %}</a>
				<a href="{{ path('item_change', {'id': item.id, 'name': item.name}) }}" class="change">{% trans %}Change record{% endtrans %}</a>
				<a href="{{ path('item_remove', {'id': item.id, 'name': item.name}) }}" class="remove">{% trans %}Delete record{% endtrans %}</a>
			</nav>
		</article>
	</section>
	<section class="item-info">
		<header>Информация</header>
		<article>
			<div>
				<strong>Тип:</strong> <a href="{{ path('home_selection', {'type': item.type.id}) }}">{{ item.type.name }}</a>
			</div>
			<div>
				<strong>Эпизоды:</strong> 13
			</div>
			<div>
				<strong>Длительность эпизода:</strong> {{ item.duration }} мин.
			</div>
			<div>
				<strong>Статус:</strong>
				{% if item.dateend %} вышло в {% else %} выходит с {% endif %}
				<a href="{{ path('home_selection', {'date_start': item.datestart|date('1.1.Y')}) }}">{{ item.datestart|date('Y') }}</a>{% if item.dateend and (item.datestart|date('Y') != item.dateend|date('Y')) %}-<a href="{{ path('home_selection', {'date_end': item.dateend|date('1.1.Y')}) }}">{{ item.dateend|date('Y') }}</a>{% endif %} г.
				(<abbr title="С {{ item.datestart|date('d') }} {{ item.datestart|date('F')|lower }} {{ item.datestart|date('Y') }} г.{% if item.dateend %} по {{ item.dateend|date('d') }} {{ item.dateend|date('F')|lower }} {{ item.dateend|date('Y') }} г.{% endif %}">?</abbr>)
			</div>
			<div>
				<strong>Производство:</strong> <a href="{{ path('home_selection', {'manufacturer': item.manufacturer.id}) }}">{{ item.manufacturer.name }}</a>
			</div>
			<div>
				<strong>Хранилище:</strong> <a href="{{ path('home_selection', {'storage': item.storage.id}) }}">{{ item.storage.name }}</a>
			</div>
			{% if item.names is not empty %}
				<div>
					<strong>Альтернативные названия:</strong>
					<ul>
						{% for name in item.names %}
							<li>{{ name.name }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</article>
	</section>
	{% if item.genres is not empty %}
		<section class="item-genres">
			<header>Жанры</header>
			<article>
					{% for genre in item.genres %}
						<a href="{{ path('home_selection', {'genre': genre.id}) }}" target="_blank">{{ genre.name }}</a>{% if not loop.last %}, {% endif %}
					{% endfor %}
			</article>
		</section>
	{% endif %}
	{% if item.sources is not empty %}
		<section class="item-sources">
			<header>Источники</header>
			<article>
				<ul>
					{% for source in item.sources %}
						<li><a href="{{ source.url }}" target="_blank"><img src="{{ source.url|favicon }}" class="favicon" alt="" /></a></li>
					{% endfor %}
				</ul>
			</article>
		</section>
	{% endif %}
</section>
{% endblock %}