{% extends 'AnimeDBCatalogBundle::layout.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<ul>
	<li><a href="#fill {{ item.id }}">{% trans %}Autofill record{% endtrans %}</a></li>
	<li><a href="{{ path('item_complement', {'id': item.id, 'name': item.name}) }}">{% trans %}Complement directory{% endtrans %}</a></li>
	<li><a href="{{ path('item_change', {'id': item.id, 'name': item.name}) }}">{% trans %}Change record{% endtrans %}</a></li>
	<li><a href="{{ path('item_remove', {'id': item.id, 'name': item.name}) }}">{% trans %}Delete record{% endtrans %}</a></li>
</ul>
{% endblock %}