{% extends 'AnimeDBCatalogBundle::layout.html.twig' %}

{% block title %}{{ item.name }} - {{ parent() }}{% endblock %}

{% block content %}
<ul>
	<li><a href="#fill {{ item.id }}">{% trans %}Autofill record{% endtrans %}</a></li>
	<li><a href="#conversion {{ item.id }}">Добавление информации в папку</a></li>
	<li><a href="{{ path('item_change', {'id': item.id}) }}">{% trans %}Change record{% endtrans %}</a></li>
	<li><a href="{{ path('item_remove', {'id': item.id}) }}">{% trans %}Delete record{% endtrans %}</a></li>
</ul>
{% endblock %}